* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Hace que el padding y el borde se incluyan en el ancho y alto del elemento */
}

main{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* HEADER*/
header{
    height: auto;
    min-height: 20vh; /* Establece la altura de la primera caja en px del height */
    overflow: hidden;
    justify-content: center; /*alinea los elementos horizontalmente al centro*/
    align-items: center;/*alinea al centro verticalmente*/
    background-image: url(img/bckGradient.png);
    background-size: cover;
    background-attachment: fixed; /*Para que la imagen no se mueva*/
}
.headercard {
    margin: 0 auto;
    height: 500px;
    width: 700px;
    color: white;
    background: rgba(255, 0, 157, 0.059); /* Color blanco con 50% de transparencia */
    backdrop-filter: blur(2px); /* Aplica un filtro de desenfoque de 5px */
    border-radius: 10px;
}
.navbar{
    margin: 5% 2%;
    text-align: right;
    font-weight: bold;
    padding-top: 1%;
}

.navbar > a{ /* Selecciona un tipo dentro de un elemento original o class*/
    margin-right: 40px;
}
.headerTitle{
    margin: 5% 5% 0 10%;
    width: fit-content;
}
.headerImg{
    width: 300px;
    height: 200px;
    margin: -10% 10% 10% 0;
    position: inherit;
    float: right;

}
.headerRrss{
    margin: 20% 2%;
}

/* ESTILO CONTENEDOR GENERAL */
.container{
    height: auto;
    min-height: 50vh; /* Establece la altura de la primera caja en px del height */
    align-items: center;
    justify-content: center;
    padding-top: 3% ;
}
.titleContainer{
    margin: 0 auto;
    padding: 1% 4% 1%;
    width: fit-content;
    color: rgb(254, 171, 185);

    background-color: #D5E7ED ;
    border-radius: 20px;
    box-shadow: 10px 7px 15px 5px rgba(0, 0, 0, 0.153);
}
.container >p{

    margin: 3% auto;
    width: 40%;
    text-align: center;
}

.wave{

}


/* CONTENEDOR ABOUTME*/
.showSkill{
    align-items: center;
    text-align: center;
    width: 80%;
    height: auto;
    margin: auto;
}
.showSkill>h3{
    display: inline-block;
    margin: 0 auto;
    width: fit-content;
}

.skillSet{
    width: 100%;
    margin: 3% auto;
}
.skillSet >img{

    width: 50px;
    height: 50px;
    margin: 5%;
}

/* CONTENEDOR 2 PORTFOLIO*/
#contTwo{
    align-items: center;
    justify-content: center; 
    background: transparent;
    background-color: #ffffff ;
    text-align: center;

}

.navProjects > a{

    padding: 0 3%;
        /*Estilo fuente*/
        color: rgb(146, 39, 146);
        text-decoration: none;
}
.imgProjects{

    display: flex;
    width: 50%;
    height: 300px;
    margin: 2% auto;
    justify-content: center;
    align-items: center;
/*Borde del marco de las imagenes*/
   /* border-style:  solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to left, pink, rgb(111, 111, 199));
    border-radius: 5px;*/

}
.imgProjects > img{
    border-radius: 100px;
    width: 300px;

}
/* MINI SECCIÓN */
.containerMini{
    height: 300px; /* Establece la altura de la primera caja en px del height */
    padding: 5% 0;
    width: 100%;
    /*Background */
    background-image: url(img/bckgContMini.png);
    background-attachment: fixed;
    background-size: cover;
}

.cardContMini{
    display: flex; /*Para usar el justify y align*/
    justify-content: space-evenly; /* Para que haya expacio entre todos los elementos*/
    align-items: center; /* Para centrar los elementos*/
    width: 80%;
    margin: 7% auto; /*Para centrar el card por justify y align*/

    background: rgba(255, 0, 157, 0.059); /* Color blanco con 50% de transparencia */
    backdrop-filter: blur(2px); /* Aplica un filtro de desenfoque de 5px */
    border-radius: 10px;
}
.cardContMini >p{
    margin: 0 2%;
    text-align: center;
    color: white;
    font-weight: bold;
}
.imgContMini{

    /*IMAGENES*/
    width: 10%;
    height: 10%;
}

/* FOOT CONTAINER CONTACTO*/
#footCont{
    background-image: url('img/fondoContMini.png');
    background-size: cover; /* Ajusta la imagen para que cubra todo el contenedor */
    background-position: center; /* Centra la imagen dentro del contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: 600px;
    padding: 5%;
}

#footCont > h2{
    font-size: 50px;
    color: white;
    margin-left: 5%;
}

.footForm{
    display: block;
    font-size: 20px;
    width: 50%;
    margin: 0 5%;
}

.footForm > input{
        margin: 5% auto;
        font-size: 20px;
        color: #6cd5ff;
        display: block;
        padding: 3% 0;
        text-align: center;
        width: 100%;
        border-radius: 15px;
        border-style: none;
    
}

.footForm > textarea{
    margin: 5% auto;
    font-size: 20px;
    color: #6cd5ff;
    display: block;
    padding: 3% 0;
    text-align: center;
    width: 100%;
    border-radius: 15px;
    border-style: none;

}

.footForm > button{
    margin: 5% auto;
    font-size: 30px;
    color: #ee8aff;
    display: block;
    padding: 3% 0;
    text-align: center;
    width: 30%;
    border-radius: 15px;
    border-style: none;

}

